<!DOCTYPE >
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Piskel Clone</title>
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="https://avatars.mds.yandex.net/get-pdb/69339/2afccd64-18b1-4201-bad7-e21ed98101c3/s1200"
      type="image/png"
    />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="heading">Piskel Clone</h1>
        <div class="logo"></div>
        <h2 class="project-name">Piskel Clone Editor</h2>
        <div class="header-right">
          <a href="./main.html" target="_blank">
            <button class="btn create-piskel">Create Piskel</button>
          </a>
        </div>
      </header>

      <main>
        <div class="overview-container">
          <div class="overview">
            <h2 class="overview__header">
              Piskel is a free online editor for animated sprites & pixel art
            </h2>
            <p class="overview__description">
              This awesome application provides user-friendly functionality for
              drawing pixel picture with posibilities to filling closed areas,
              picking a color of every pixel, erasing, drawing straight lines
              and other amazing tools. You can add, delete and copy a frame for
              flexible animation here. Apart from that a ability of downloading
              your animation will make you enjoy.
            </p>
            <div class="btns-container">
              <a href="./main.html" target="_blank">
                <button class="btn btn__editor">Create Piskel</button>
              </a>
            </div>
          </div>
          <div class="examples">
            <div class="example example-1"></div>
            <div class="example example-2"></div>
            <div class="example example-3"></div>
            <div class="example example-4"></div>
          </div>
        </div>
        <div class="gif-examples-container">
          <div class="examples">
            <div class="example example-1"></div>
            <div class="example example-2"></div>
            <div class="example example-3"></div>
          </div>
        </div>
      </main>

      <footer>
        <div class="author">
          <p class="author__location">Minsk</p>
          <p class="author__name">Diana Ivanova</p>
          <a class="author__github_link" href="https://github.com/melk0sha">
            <p class="author__github" target="_blank">GitHub</p>
          </a>
        </div>
      </footer>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>
  </body>
</html>
